.app {
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape";

    grid-template-columns: auto;
    grid-template-rows: 50px 100vh auto;
    }

.cabecalho {
    background-color: rgb(20, 199, 190);
    grid-area: cabecalho;
}
 
.conteudo {
    background-color: rgb(236, 132, 132);
    grid-area: conteudo;
}

.rodape {
    background-color: rgb(105, 105, 230);
    grid-area: rodape;
}